body {
    background: yellowgreen;
    margin: 25px;
    font-family: Andale Mono, 'Courier New', Courier, monospace;
}

header {
    display: flex;
}


h1 {
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}

h3 {
    font-size: 15px;
    text-align: center;
    padding: 40px;
}

footer {
    display: flex;
}

.quotes {
    display: flex;
}

.quotes p {  
    /* quotes on the home page */
    margin-bottom: 0px;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 60px;
}

.login-link-div {
    display: flex;
}

.login-link-div p {
    /* login and create and account links on home page */
    /* align-content: space-around; */
    padding: 55px;
    justify-content: center;
}


.team-name p {
    /* copyright and company name on home page */
    padding: 40px;
}

.individual-links {
    display: flex;
}

.individual-links p {
    /* targets all builders names on footer */
    /* flex-direction: column; */
    /* position: fixed; */
    /* /* position: fixed; */
    bottom: 20px;
    padding: 40px;
}


.information-text p {
    /* targets the firstngoal in the header */
    align-content: stretch;
}

.upcoming-match p {
    /* upcoming match on home page */
    justify-content: flex-end;
    width: 30%;
    display: none;
}

.sign-up p {
    /* sign up link on home page */
    justify-content: center;
}

.top-posts-from-league p {
    /* top posts in the profile page */
    justify-content: flex-start;
    flex-direction: column;
    padding:
}

.team-info p {
    /* targets 'Your Team' text in the profile page */
    align-content: space-around;
    align-content: center;
}

.rankings p {
    /* targets 'standings' text in the profile page */
    background: purple;
    justify-content: flex-end;
    flex-grow: 1;
    align-content: space-between;
    padding:
}


/* basic skeleton of login form */
/* --------------------------------------- */
.login-div input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-div input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-div input[type=submit]:hover {
    background-color: #45a049;
}

.login-div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* ------------------------------------------- */

.new-post {
    /* targets new blog form */

}

.edit-page p {
    /* targets the edit profile page form */

}

.register-page {
    /* targets register form */

}

    /* add css for seeBlog page */


    /* add css for team page */